.menubar{
    padding: 20px 0px;
    h1{
        @include xs{
            padding: 0px 20px;
        }
        @include md{
            padding: 0px;
        }
        .menubar-logo{
            font-weight: bold;
            color: $red;
        }
    }
    .menubar-content, .menubar-content-searchPage{
        .gapping{
            margin-bottom: 20px;
            .vedio, .vedio2{
                margin: 10px 0px;
                height: 100%;
                .vedio-thumbnails, .vedio-thumbnails2{
                    overflow: hidden;
                    img{
                        object-fit: cover;
                        cursor: pointer;
                    }
                }
                .videoDesc2, .videoDesc{
                    color: $white;
                    text-transform: capitalize;
                    padding-bottom: 0px;
                    h5{cursor: pointer;}
                }
            }
            
        }
    }
    .menubar-content{
        padding-top: 20px;
        @include xs{
            padding-bottom: 20px;  
            height: 100%;
            overflow-y: auto;
        }
        @include md{
            overflow-y: scroll;
            padding-bottom: 40px;
            height: 85vh;  
        }
    }
    .menubar-footer, .menubar-footer-searchPage{
        text-align: center;
        padding: 20px 0px;
        h4{
            font-size: 10px;
        }
        a{
            color: $red
        }
    }
    .menubar-footer{
        @include xs{
            display: block;
        }
        @include md{
            display: none;
        }
    } 
    .menubar-footer-searchPage{
        display: block;
    }
}